bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.TrainingEvents/.idea/.gitignore
/.idea/.idea.TrainingEvents/.idea/indexLayout.xml
/.idea/.idea.TrainingEvents/.idea/misc.xml
/.idea/.idea.TrainingEvents/.idea/vcs.xml
